@tailwind base;
@tailwind components;
@tailwind utilities;


html,

/* banner water waves */
.Banner_body {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height:95vh;
  background: white;
}

.Banner_waves{
  position:relative;
  width: 100%;
  opacity:2;
  background: #3586ff;
  min-height: 220px

}


 .wave {
  position: absolute;
  top: -100px;
  left: 0px;
  width: 100%;
  height: 220px;
  background:  url("./images/wave.png") ;
  background-size: 1000px 100px
}

#wave_1 {
  z-index: 1000;
  opacity: 0.9;
   
  bottom: 120px;
  animation: animateWave 4s linear infinite;
}
#wave_2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}
#wave_3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

#wave_4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {
0%{
  background-position-x: 1000px;
}
100%{
  background-position-x: 0px;
}
}

@keyframes animateWave_2 {
0%{
  background-position-x: 0px;
}
100%{
  background-position-x: 1000px;
}
}